/* Chrome, Edge, Safari */
.ant-input::placeholder {
    color: var(--color-textSecondary);
}

/* Firefox */
.ant-input::-moz-placeholder {
    color: var(--color-textSecondary);
}

/* IE (if you still care) */
.ant-input:-ms-input-placeholder {
    color: var(--color-textSecondary);
}
